.groupList {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.groupListItem {
  display: flex;
  align-items: center;
  height: 80px;
  border-radius: 6px;
  padding-left: 20px;

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(34, 119, 255);
  }

  .itemName {
    font-size: 18px;
  }

  &:hover {
    background-color: rgb(230, 230, 228);
  }
}
