.organizationContent {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 20px;
  height: 100%;
}

.organizationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-right: 20px;
  font-size: 24px;
}

.breadcrumbList {
  display: flex;
  width: 100%;
  margin-top: 12px;
  font-size: 24px;

  .breadcrumbItem {
    display: flex;
    align-items: center;
    color: rgb(143, 149, 158);

    .separator {
      width: 10px;
      height: 10px;
      border-top: 2px solid rgb(143, 164, 192);
      border-right: 2px solid rgb(143, 164, 192);
      border-radius: 2px;
      transform: rotate(45deg);
      margin: 0 15px 0 10px;
    }

    .ableClick {
      color: rgb(34, 119, 255) !important;
    }
  }
}

.organizationList {
  width: 100%;
  flex: 1;
  margin-top: 24px;
  overflow: auto;

  .listItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    font-size: 18px;

    .listItemLeft {
      display: flex;
      align-items: center;

      .icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        background-color: rgb(34, 119, 255);
      }
    }

    .listItemRight {
      padding: 5px;
      color: rgb(34, 119, 255);
      border-radius: 6px;

      &:hover {
        background-color: rgb(189, 205, 231);
      }
    }

    &:hover {
      background-color: #edeeee;
    }
  }
}
