.box {
  width: 300px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: antiquewhite;

  &:hover {
    background-color: gray;
  }
}

.active {
  background-color: skyblue !important;
}
