@import '~@/assets/iconFont/iconfont.css';

@path: '~@/assets/iconFont';

@font-face {
  font-family: 'iconfont'; /* Project id 2617922 */
  src: url('@{path}/iconfont.woff2?t=1626331797823') format('woff2'),
    url('@{path}/iconfont.woff?t=1626331797823') format('woff'),
    url('@{path}/iconfont.ttf?t=1626331797823') format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiekouguanli:before {
  content: '\e675';
}

.icon-fuwuguanli:before {
  content: '\e676';
}

.icon-yibiaopan:before {
  content: '\e677';
}

.icon-yingyongguanli:before {
  content: '\e678';
}

.icon-tongjifenxi:before {
  content: '\e679';
}

.icon-wangguanguanli:before {
  content: '\e67a';
}

.icon-xiaoxi:before {
  content: '\e67b';
}

.icon-zhankai:before {
  content: '\e67c';
}

.icon-suojin:before {
  content: '\e67d';
}

.icon-touxiangxiala:before {
  content: '\e67e';
}

.icon-yonghuguanli:before {
  content: '\e67f';
}
