.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    width: 100%;
}