.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  gap: 10px;

  & > div {
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(-45deg, #eee 25%, #ddd 50%, #eee 75%);
      background-size: 400% 400%;
      animation: gradient-animation 1.5s infinite;
    }
  }
  @keyframes gradient-animation {
    0% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  & > div:first-child {
    width: 30px;
    height: 30px;
    border-radius: 6px;
  }

  & > div:nth-child(2) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  & > div:last-child {
    flex: 1;
    height: 30px;
    border-radius: 6px;
  }
}
