.contact {
  display: flex;
  position: relative;
  .viewList {
    width: 300px;
    border-right: 1px solid #eee;
    height: 90vh;
    .search {
      margin: 10px 0 20px 0;
      width: 280px;
    }
  }
  .userChat {
    height: 90vh;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
