.groupContent {
  padding: 10px 0 0 20px;

  .ant-tabs-tab-btn {
    font-size: 18px;
  }

  .groupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-right: 20px;
    font-size: 24px;
  }
}
