@prefix: micro;
// @project-color-green: #52bd95;
@login-bg: #f3f6ff;
@main-dark-color: @primary-color;
@app-selector-bg: @primary-color;
// @text-color-secondary: #0F173E; // 二级文字颜色

@font-family-bold: 'PingFangSC-Medium, PingFang SC';
@scroll-bar-color: #ecedef;
@font-size-base: 12px;
@left-bar-width: 60px;
@basic-layout-margin: 12px;
