.modalContent {
  width: 900px;
  height: 600px;
  margin-top: 20px;

  .inputBox {
    display: flex;
    width: 500px;
    margin-bottom: 10px;

    div {
      width: 60px;
    }

    input {
      border: 0;
    }

    border-bottom: 1px solid rgb(210, 210, 210);
  }
}
