.container {
  display: flex;
  height: 100%;
  margin-left: 24px;
}

.emailList {
  flex: 1;
  padding: 0 5px;
  border-left: 1px solid rgb(210, 210, 210);
  border-right: 1px solid rgb(210, 210, 210);
}
