// @import './theme/gateway/index.less';
@import '~@/style/custom.less';
@import url('/public/luckysheet/plugins/css/pluginsCss.css');
@import url('/public/luckysheet/plugins/plugins.css');
@import url('/public/luckysheet/css/luckysheet.css');
@import url('/public/luckysheet/assets/iconfont/iconfont.css');


#root-master,
#root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

img {
  vertical-align: baseline;
}

p {
  margin-bottom: 0 !important;
}
