// @import './theme/gateway/index.less';
@import '~@/style/custom.less';

#root-master,
#root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
img {
  vertical-align: baseline;
}
p {
  margin: 0;
}
