.emailDetail {
  flex: 1;
  height: 100%;
  margin-left: 24px;

  .title {
    font-size: 32px;
    font-weight: 600;
  }

  .content {
    width: 100%;
    margin-top: 20px;
    min-height: 360px;
    max-height: 700px;
    overflow: auto;
    background-color: white;
  }
}
