.emailDetail {
  flex: 1;
  height: 100%;
  margin-left: 24px;

  .title {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 600;
  }

  .content {
    width: 100%;
    margin-top: 20px;
    min-height: 360px;
    max-height: 700px;
    padding: 16px;
    overflow: auto;
    background-color: white;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 8%),
      0 3px 6px -4px rgba(0, 0, 0, 12%), 0 9px 28px 8px rgba(0, 0, 0, 5%);

    > div:nth-child(1),
    :nth-child(2),
    :nth-child(3) {
      display: flex;
    }

    > div:nth-child(2) {
      margin: 10px 0;
    }

    .label {
      font-weight: 500;
      font-size: 18px;
    }

    .tagList {
      display: flex;
      align-items: center;

      .tagItem {
        display: block;
        border-radius: 4px;
        margin-left: 6px;
        padding: 4px 6px;
        background-color: #d7e4f6;
      }
    }
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 600px;
  margin-top: 20px;

  .editor {
    flex: 1;

    > div {
      display: flex;
      flex-direction: column;
      height: 100%;

      .editorContent {
        flex: 1 !important;
      }
    }
  }
}
