.list {
  display: flex;
  flex-direction: column;

  .item {
    width: 150px;
    height: 60px;
    padding: 24px;
    border-radius: 12px;
  }

  .activeItem {
    background-color: skyblue;
    color: black;
  }
}
