.list {
  display: flex;
  flex-direction: column;

  .item {
    width: 150px;
    height: 60px;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 5px;

    &:hover {
      background-color: gray;
    }
  }

  .activeItem {
    background-color: skyblue !important;
    color: black;
  }
}
